* {
  margin: 0;
  padding: 0;
}

.ul-categories {
  list-style: none;
  padding: 10px;
  text-align: center;
}

.button-categories {
  background: none;
  border: none;
  padding: 3px;
  text-align: left;
  width: 210px;
}

.h1-categories {
  padding-bottom: 20px;
  text-align: center;
}

.nav-categories {
  display: flex;
  margin: 0;
  padding: 0;
  width: 220px;
}

.button-categories:hover {
  font-weight: 700;
  scale: 1.02;
  transition: 0.3;
}

.spam-main {
  display: flex;
  height: 300px;
}

.div-main-search {
  height: 100%;
  margin: auto;
  width: 100%;
}

.p-categories {
  font-size: 20px;
  height: 40px;
  text-align: center;
}

.list-cards {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.list-btns {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.quantity-text {
  border: 1px solid gray;
  padding: 3px 18px;
}

.ul-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.list-car-shop {
  border: 1px solid gray;
  box-shadow: 1px 4px 8px black;
  list-style: none;
  padding: 10px;
  width: 300px;
}

.display-price {
  border: 1px solid rgb(197, 173, 173);
  color: green;
  padding: 10px;
  text-align: end;
}

.list-group-item {
  text-align: end;
}

.cart-container {
  padding: 10px;
}

.img-header {
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  object-fit: contain;
  position: relative;
  width: 120px;
}

.span-total {
  background-color: rgb(253, 253, 253);
  border: 1px solid gray;
  border-radius: 40%;
  color: rgb(243, 0, 0);
  font-size: 15px;
  font-weight: 700;
  padding: 6px;
  position: absolute;
  right: 30px;
  top: 10px;
}

.spam-search .img-btn {
  height: 31px;
  width: 31px;
}
