* {
  padding: 0;
  margin: 0;
}

ul.categories {
  list-style: none;
  padding: 10px;
  text-align: center;
}

button.categories {
  background: none;
  border: none;
  width: 210px;
  text-align: left;
  padding: 3px;
}

h1.categories {
  text-align: center;
  padding-bottom: 20px;
}

button.categories:hover {
  transition: 0.3;
  font-weight: 700;
  scale: 1.02;
}
nav.categories {
  display: flex;
  width: 220px;
  margin: 0;
  padding: 0;
}

spam.main {
  height: 300px;
  display: flex;
}

div.main-search {
  border: 1px solid red;
  width: 79%;
}

p.categories {
  height: 40px;
  font-size: 20px;
  text-align: center;
}