header {
  background-color: #003BE5;
  color: #e2e2e2;
  text-align: center;
  margin-bottom: 25px;
  display: flex;
}

spam.header-content {
  margin: auto;
  padding-left: 8%;
  
}

h1.header-content{
  padding-top: 10px;
  text-shadow: 3px 3px 10px black;
}

h2.header-content {
  padding-bottom: 10px;
}

img.header-content {
  width: 40px;
  padding: 20px 20px;
}