div.search {
  text-align: center;
  height: 100%;
  /* border: 1px solid blue; */
}

spam.search {
  display: flex;
  margin: auto;
}

ul.search {
  margin: 30px;
}

form.search {
  align-items: center;
  display: flex;
}

spam.search > input {
  width: 350px;
  border: 1px solid #00134d;
}

spam.search > button {
  background-color: #31C28D;
  border: 1px solid #19855d;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-left: 5px;
}

spam.search > button:hover {
  transition: 0.3;
  background-color: #22b37d;
}

spam.search > button:active {
  background-color: #19855d;
}